################# DOCKER COMPOSE RELATED ENVIRONMENT ##################

# Stack/Project name for Docker Compose
COMPOSE_PROJECT_NAME=cmm

################# POSTGRES SERVER PRINCIPAL ENVIRONMENT ##################

# Postgres Default Database Name only used one time at first started server.
# {{Optional}} for PostgreSQL image. If no set [POSTGRES_USER value] is used.
#POSTGRES_DB=postgres

# Postgres superuser Name used in conjuntion with POSTGRES_PASSWORD
# {{Required}} for PostgreSQL image. If not set [postgres] name taken as default.
POSTGRES_USER=odoo

# Postgres superuser Password for POSTGRES_USER. It must not be empty or undefined.
# {{Required}} for PostgreSQL image. It set the [superuser password] for PostgreSQL.
POSTGRES_PASSWORD=odoo

################# ODOO SERVER PRINCIPAL ENVIRONMENT ####################

# DB HOST used by Odoo is the name of the postgres container
HOST=ov16db

# BD PORT used by Odoo is where the postgres service is published
PORT=5432

# USER name used by Odoo to connect to Postgres Database same as POSTGRES_USER
USER=odoo

# Password used by Odoo User to connet to Postgres Database same as POSTGRES_PASSWORD
PASSWORD=odoo

################## ODOO SERVER APPS RELATED ENVIRONMENT ##################

# Language
LANG_i18n=es_ES

#Applications to install and update
APPS=

#Odoo code definition of Country´s
COUNTRY_CODE=ES
